{% extends 'core/base.html'%}

{% block title%} Contact {% endblock%}

{% block image-header %} contact {% endblock %}

{% block title-header %} 
<div>
    <h1 class="display-4 fw-bold">Contacto</h1>
</div>
<div>
    <!--degree title de contact-->
    <h3 class="fs-2"></h3>
</div>
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p></p>
        <br>
        <p><b>Localidad:</b>  Santa Lucía, Canelones, Uruguay</p>
        <p><b>Teléfono:</b>  +598 91 950 577</p>
        <p><b>Email:</b>  bryan.sdp280944@gmail.com</p>
        <p><b>Honorarios:</b> A convenir</p>
    </div>
</div>

{%endblock%}